<div class="container">
<h1>Sign Up</h1>

<%= simple_form_for(@user, :defaults => { :wrapper_html => {:class => 'form-group' }, :input_html => { :class => 'form-control' } }) do |form| %>

  <% if @user.errors.any? %>
    <%= pluralize(@user.errors.count, "error") %> prevented your account from being created:
    <ul>
      <% @user.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>

<div class="input-group">
  <p>
    <%= form.input :username %>
  </p>
  <p>
    <%= form.input :email %>
  </p>
  <p>
    <%= form.input :password %>
  </p>
</div>
  <p><br />
    <%= form.button :submit, "Sign up" %>
  </p>
<% end %>
</div>