    <tbody>
    	<tr>
<%= div_for restaurant do %>
	<td>
	<%= link_to restaurant.name, restaurant %>
	</td>
	<td>
	<%= restaurant.address %>
	</td>
	<td>
	<%= Visit.where(user_id: current_user.id, restaurant_id: restaurant.id).first.try(:last_visit)%>
	</td>
	<td>
	<%= Rating.where(user_id: current_user.id, restaurant_id: restaurant.id).first.try(:score) %>
	</td>
	<td>
	<%= Rating.where(restaurant_id: restaurant.id).average(:score) %>
	</td>
	<td>
	<%= render 'ratings/ratings_form', restaurant: restaurant %>
	</td>
	<td>
	<%= form_for Visit.new do |form| %>
		<%= form.hidden_field :user_id, value: current_user.id %>
		<%= form.hidden_field :restaurant_id, value: restaurant.id %>
		<%= form.date_field :last_visit, placeholder: "Last Visited", :value => Time.now.strftime('%Y-%m-%d') %>
		<%= form.submit "Submit Date" %>
	<% end %>
	</td>
<% end %>
		</tr>