<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'Home', dashboard_path, :class => 'navbar-brand page-scroll'%>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <% if signed_in? %>
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                    	<%=  link_to 'Add a Restaurant', new_restaurant_path, :class => 'page-scroll'%>
                    </li>
                    <li>
                      <%= link_to 'Restaurants', restaurants_path %>
                    </li>
                    <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <% if signed_in? %>
                          <li>
                          <a><%= "Logged in as #{current_user.username}" %></a>
                          </li>
                          <li>
                          <%= link_to "Log Out", session_path, method: :delete %>
                          </li>
                        <% else %>
                          <li><%= link_to 'Sign In', new_session_path %></li>
                          <li><%= link_to 'Sign Up', new_user_path %></li>
                        <% end %>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>